In [1]:
5+4*9%(3+1)/6-1

4.0

In [2]:
a = int(input("Enter the number: "))

if a%2==0:
    print("Even Number")
else:
    print("Odd Number")

Enter the number: 3
Odd Number

In [3]:
print(5, 'x', 1, '=', 5 * 1)

5 x 1 = 5

In [4]:
num=int(input("Table of: "))

for i in range(1,11):
    print(num, 'x',i,'=',num*i)

Table of: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [6]:
a=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

number=0
decimal=0
string=0
none=0
boolian=0

for i in a:
    if type(i)== int:
        number+=1
    elif type(i)== float:
        decimal+=1
    elif type(i)== str:
        string+=1
    elif i == None:
        none+=1
    else:
        boolian+=1

    
print(f'count of numbers {number}, Count of decimal {decimal}, Count of string {string}, Count of None {none}, Count of boolian {boolian}')

count of numbers 5, Count of decimal 1, Count of string 4, Count of None 1, Count of boolian 1

In [7]:
a = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

for i in a:
    if type(i)== int or type(i)== float:
        print(i, end=' ')

2 3 1 5.5 3 7

In [9]:
for i in a:
    if type(i)== str:
        print(i, end='-')

Py-10-SQL-John-

In [10]:
def afunction(lis):
    num=0
    string=0
    for i in a:
        if type(i)== int or type(i)== float:
            num+=i
        elif type(i)== str:
            string+=1
    print(f'Sum of all numbers is {num}, Count of all string is {string}')

In [11]:
lis=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

afunction(lis)

Sum of all numbers is 21.5, Count of all string is 4

In [12]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [13]:
# for loop
newlis=[]
for i in li:
    if i%2 !=0:
        newlis.append(i)
print(newlis)

[5, 7, 97, 77, 23, 73, 61]

In [14]:
newlis1=[i for i in li if i%2!=0]
newlis1

[5, 7, 97, 77, 23, 73, 61]

In [15]:
newlis2= list(filter(lambda x:x%2!=0, li))
newlis2

[5, 7, 97, 77, 23, 73, 61]

In [16]:
from statistics import mean

def descriptives(*num):
    Sum = 0    
    for n in num:
        Sum+=n
    print("Sum of numbers", Sum)
    
    print("Count of Numbers",len(num))
    print("Maximum Number",max(num))
    print("Minimum Number",min(num))
    print("Mean Number",mean(num))

In [17]:
descriptives(3,4,5,6,7,8)

Sum of numbers 33
Count of Numbers 6
Maximum Number 8
Minimum Number 3
Mean Number 5.5

In [18]:
def func(l1, l2):
    
    a = set(l1)
    b = set(l2)
    c= list(a.intersection(b))
    d= list(a-b)
    e= list(b-a)
    print("Matched : ", c)
    print("Only in l1 : ", d)
    print("Only in l2 : ", e)

In [19]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [20]:
func(l1,l2)

Matched :  ['June', 'January', 'December', 'February']
Only in l1 :  ['May', 'March', 'September']
Only in l2 :  ['April', 'October']